<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Please login</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Real-time secure video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content=" calling provides real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://sfu.mirotalk.com/images/sfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="/">
                                    <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <div id="loginForm">
                                    <br />
                                    <div class="mb-12">
                                        <input
                                            id="username"
                                            class="form-input"
                                            type="name"
                                            placeholder="Username"
                                            style="border-radius: 6px"
                                            required
                                        />
                                    </div>
                                    <br />
                                    <div class="mb-12">
                                        <input
                                            id="password"
                                            class="form-input"
                                            type="password"
                                            style="border-radius: 6px"
                                            placeholder="Password"
                                            required
                                        />
                                    </div>
                                    <div class="mt-24 mb-32">
                                        <button id="loginButton" class="button button-primary button-block">
                                            Login
                                        </button>
                                    </div>
                                </div>
                                <script>
                                    let usernameInput = document.getElementById('username');
                                    let passwordInput = document.getElementById('password');
                                    let loginBtn = document.getElementById('loginButton');

                                    usernameInput.onkeyup = (e) => {
                                        if (e.keyCode === 13) {
                                            e.preventDefault();
                                            login();
                                        }
                                    };
                                    passwordInput.onkeyup = (e) => {
                                        if (e.keyCode === 13) {
                                            e.preventDefault();
                                            login();
                                        }
                                    };

                                    loginBtn.onclick = (e) => {
                                        login();
                                    };

                                    function login() {
                                        let username = document.getElementById('username').value;
                                        let password = document.getElementById('password').value;

                                        if (username && password) {
                                            window.location.href = `/login?username=${username}&password=${password}`;
                                            return;
                                        }
                                        if (!username && !password) {
                                            alert('Username and Password required');
                                            return;
                                        }
                                        if (!username) {
                                            alert('Username required');
                                            return;
                                        }
                                        if (!password) {
                                            alert('Password required');
                                            return;
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <li>
                                Contact:
                                <a href="#">Email Us</a
                                >
                            </li>
                        </ul>
                        <div class="footer-copyright">&copy; All rights reserved</div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
    </body>
</html>
