<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Terms & Conditions</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Real-time secure video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="video conference, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Video Conference" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://sfu.mirotalk.com/images/sfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>


    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="/">
                                    <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="cta section">
                    <div class="container">
                        <div class="cta-inner section-inner br-12">
                            <h3 class="section-title mt-0">
                               NOTE: 
                            </h3>
                            <div>
                                <div class="mb-24">
                                    <b>Terms & Conditions</b>
                                    <ol>
                                      <li>term1</li>
                                      <li>term2</li>
                                    </ol>
                                </div>
                                <button id="joinRoomButton" class="button button-primary pulse" onclick="joinRoom()">I Agree</button>

<script>
function setCookie(name, value, expDays) {
  let date = new Date();  
  date.setTime(date.getTime() + expDays * 24 * 60 * 60 * 1000);
  const expires = 'expires=' + date.toUTCString();
  document.cookie = name + '=' + value + '; ' + expires + '; path=/';
}

function joinRoom() {
  let qs = new URLSearchParams(window.location.search);
  if (!qs.has('username')) return false;
  let username = qs.get('username');
  let roomName = username.split('_')[0];
  window.localStorage.peer_name = username;
  setCookie(roomName + '_name', username, 30);
  window.location.href = '/join/' + roomName;
}
</script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <li>
                                Contact:
                                <a target="_blank" href="#">Email Us</a
                                >
                            </li>
                        </ul>
                        <div class="footer-copyright">&copy; All rights reserved</div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
    </body>
</html>
