<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Allow Video or Audio access</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="video calling"
        />
        <meta property="og:image" content="https://sfu.mirotalk.com/images/sfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="/">
                                    <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <h1 class="hero-title mt-0">Access denied.</h1>
                                <p class="hero-paragraph" id="message"></p>
                                <p class="hero-paragraph">
                                    Camera and/or microphone access required. Please try again.
                                </p>
                                <script>
                                    let qs = new URLSearchParams(window.location.search);
                                    let room_id = qs.get('room_id');
                                    let message = qs.get('message');
                                    console.log('Allow Camera or Audio', {
                                        room_id: room_id,
                                        message: message,
                                    });
                                    document.getElementById('message').innerHTML = message;

                                    function setCookie(name, value, expDays) {
                                      let date = new Date();
                                      date.setTime(date.getTime() + expDays * 24 * 60 * 60 * 1000);
                                      const expires = 'expires=' + date.toUTCString();
                                      document.cookie = name + '=' + value + '; ' + expires + '; path=/';
                                    }

                                    function joinRoom() {
                                      if (qs.has('username')) {
                                        let username = qs.get('username');
                                        let roomName = username.split('_')[0];
                                        window.localStorage.peer_name = username;
                                        setCookie(roomName + '_name', username, 30);
                                        window.location.href = '/join/' + roomName;
                                      }
                                      else {
                                        window.location.href = '/newroom';
                                      }
                                    }
                                </script>
                                <div class="hero-cta">
                                    <a class="button button-primary pulse" onclick="joinRoom()" >TRY AGAIN</a>
                                </div>
                            </div>
                            <div class="hero-figure anime-element">
                                <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                    <rect width="528" height="396" style="fill: transparent" />
                                </svg>
                                <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                                <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                                <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                                <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                                <div class="hero-figure-box hero-figure-box-05"></div>
                                <div class="hero-figure-box hero-figure-box-06"></div>
                                <div class="hero-figure-box hero-figure-box-07"></div>
                                <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                                <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                                <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                            <a href="/">
                                <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                            </a>
                        </div>
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <li>
                                Contact:
                                <a href="#">Email Us</a
                                >
                            </li>
                        </ul>
                        <div class="footer-copyright">&copy; All rights reserved</div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
    </body>
</html>
